<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(#{topic.create.tittle})"></head>
<body>
<header th:replace="fragments/layout :: header"></header>

<div class="col">
  <h3 th:text="#{topic.add.new.topic}">Add new topic</h3>
  <form method="POST" action="/addTopic" th:object="${topic}">
    <div class="form-group">
      <label th:text="#{topic.tittle}">Topic tittle</label>
      <input type="text" name="topicTittle" th:placeholder="#{topic.tittle} + '....' " th:field="*{topicTitle}">
    </div>
    <br>
    <div class="form-group">
      <label th:text="#{topic.topic}">Topic</label>
      <input type="text" name="topic" th:placeholder="#{topic.topic} + '....' " th:field="*{topicText}">
    </div>
    <br>
    <div class="form-group">
      <label th:text="#{topic.author}">Author</label>
      <input type="text" name="author" th:placeholder="#{topic.author} + '....' " th:field="*{author}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" th:text="#{add}">Add</button>
  </form>
</div>

</body>
</html>
