<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(${topic.topicTitle})"></head>
<body>
<header th:replace="fragments/layout :: header"></header>

<h1 th:text="${topic.topicTitle}">>Topic tittle</h1>
<br>
<div th:text="${topic.getTopicText}"></div>
<br>
<div th:text="${topic.author}"></div>
<br>
<div>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{'/topic/' + ${topic.id} + '/edit'}" th:text="#{topic.edit.tittle}" class="btn btn-outline-dark">Edit Topic</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{'/topic/' + ${topic.id} + '/view'}" th:text="#{topic.delete}" class="btn btn-outline-danger">Delete Topic</a>
</div>
<div class="row">
    <div class="col" th:if="${#lists.isEmpty(topic.getComments())}" th:text="#{comment.list.empty}">Comments list is empty</div>
    <div class="col" th:unless="${#lists.isEmpty(topic.getComments())}">
        <span th:text="#{comment.list}">Comments list</span>
        <table class="table">
            <tr>
                <th th:text="#{comment.author}">Author</th>
                <th th:text="#{comment}">Comment</th>
                <th th:text="#{comment.data.and.time}">Comment date</th>
            </tr>
            <tr th:each="comment: ${topic.getComments()}">
                <td th:text="${comment.getUser().getUsername()}"></td>
                <td th:text="${comment.getText()}"></td>
                <td th:text="${comment.getCreatedAt()}"></td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
<nav aria-label="Page navigation"
     th:if="${commentsPageable.totalPages > 1}">
    <ul class="pagination">
        <li class="page-item"
            th:classappend="${commentsPageable.number == 0} ? disabled">
            <a class="page-link"
               th:href="@{/(page=${commentsPageable.number - 1})}" th:text="#{previous}">Previous</a></li>

        <li th:each="i : ${#numbers.sequence(0, commentsPageable.totalPages - 1)}" class="page-item"
            th:classappend="${i == commentsPageable.number} ? active">
            <a class="page-link" th:href="@{'/?page=' + ${i}}" th:text="${i + 1}"></a></li>

        <li class="page-item"
            th:classappend="${commentsPageable.number == commentsPageable.totalPages - 1} ? disabled">
            <a class="page-link"
               th:href="@{/(page=${commentsPageable.number + 1})}" th:text="#{next}">Next</a></li>
    </ul>
</nav>
</div>
</body>
</html>
